services:
  postgres:
    image: postgres
    ports:
      - 5435:5432
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
